/* laptop */
@media only screen and (min-width: 3401px){
    .frame-gambar {
        height: 200px;
        width: 200px;
        background-color: darkgray;
        margin-left: 15%;
    }

    h5 {
        font-size: 15px;
        text-align: center;
        margin-left: 0%;
        margin-top: 4%;
        width: 120%;
    }

    p {
        margin-top: 10%;
    }

    .tgl {
        margin-top: -20px;
        height: 100px;
    }
    
    .link-gambar {
        text-decoration: none;
        color: black;
        text-underline-offset: unset;

    }
}

/* HP */
@media only screen and (min-width: 300px) and (max-width: 600px){

    .frame-gambar {
        height: 100px;
        width: 100px;
        background-color: darkgray;
        margin-left: 0px;
    }

    h5 {
        font-size: 15px;
        /* text-align: center; */
        margin-left: 0%;
        margin-top: 15%;
        width: 120%;
    }

    p {
        margin-top: 15%;
    }

    .tgl {
        margin-top: -20px;
    }
    
    .link-gambar {
        text-decoration: none;
        color: black;
        text-underline-offset: unset;

    }

    

}

