

/* laptop */
@media only screen and (min-width: 1024px){
    .link-sosmed {
        margin-left: 500%;
    }
    .fakeImg {
        height: 200px; 
        width: 200px; 
        background-color: lightgray;
        margin-top: 10px; 
        border-radius: 50%;
    }

    .tulisan-sekolah {
        margin-left: 20%;
        margin-top: -16%;
    }
    .link-button {
        margin-left: 2%;
    }

    .foto-kalimat-pembuka {
        height: 200px; 
        width: 200px; 
        background-color: darkgray;
        margin-top: 10px; 
        margin-left: 10%; 
        margin-top: 3%;
    }

    .kalimat-pembuka {
        height: 200px; 
        width: 600px; 
        background-color: darkgray;
        margin-top: 10px; 
        margin-left: 10%; 
        margin-left: 30%; 
        margin-top: -17%; 
        padding: 20px;
    }

    .box-artikel-jurnal {
        background-color: lightgray; 
        padding: 20px; 
        height: 650px;
    }
    .box-artikel {
        height: 400px; 
        width: 60%; 
        background-color: darkgray;
        margin-top: 10px;
        padding: 20px; 
        margin-left: 3%;
    }

    .iframe-artikel {
        margin-left: 64%; 
        margin-top: -31.2%;
    }

    .iframe {
        height: 400px;
    }

}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px){
    
    .fakeImg {
        height: 200px; 
        width: 200px; 
        background-color: lightgray;
        margin-top: 10px; 
        border-radius: 50%;
        margin-left: 0%;
    }

    .tulisan-sekolah {
        margin-left: 32%;
        margin-top: -24%;
    }

    .link-button {
        margin-left: 2%;
    }

    .foto-kalimat-pembuka {
        height: 200px; 
        width: 200px; 
        background-color: darkgray;
        margin-top: 10px; 
        margin-left: -2%; 
        margin-top: 3%;
    }

    .kalimat-pembuka {
        height: 200px; 
        width: 400px; 
        background-color: darkgray;
        margin-top: 10px; 
        margin-left: 10%; 
        margin-left: 32%; 
        margin-top: -31.9%; 
        padding: 20px;
    }

    .box-artikel-jurnal {
        background-color: lightgray; 
        padding: 20px; 
        height: 650px;
    }
    .box-artikel {
        height: 400px; 
        width: 60%; 
        background-color: darkgray;
        margin-top: 10px;
        padding: 20px; 
        margin-left: 3%;
    }

    .iframe-artikel {
        margin-left: 64%; 
        margin-top: -58%;
    }

    .iframe {
        height: 400px;
    }

}

/* HP */
@media only screen and (max-width: 767px){

    .fakeImg {
        height: 200px; 
        width: 200px; 
        background-color: lightgray;
        margin-top: 10px; 
        border-radius: 50%;
        margin-left: 20%;
    }

    .tulisan-sekolah {
        text-align: center;
    }

    .link-button {
        margin-left: 0%;
    }

    .foto-kalimat-pembuka {
        height: 200px; 
        width: 200px; 
        background-color: darkgray;
        margin-top: 10px; 
        margin-left: 10%; 
        margin-top: 3%;
    }

    .kalimat-pembuka {
        height: 200px; 
        width: 300px; 
        background-color: darkgray;
        margin-top: 10px; 
        margin-left: 10%; 
        margin-left: 0%; 
        margin-top: 5%; 
        padding: 20px;
    }

    .box-artikel-jurnal {
        background-color: lightgray; 
        padding: 20px; 
    }

    .box-artikel {
        height: 200px; 
        width: 50%; 
        background-color: darkgray;
        margin-top: 10px;
        padding: 20px; 
        margin-left: 3%;
    }

    .iframe-artikel {
        margin-left: 60%; 
        margin-top: -52%;
        width: 140px;

    }

    .iframe {
        height: 200px;
    }

}

