<div class="container mt-3" style="padding: 20px;">
    
    <div class="container ms-2 mt-2">
        <h2>Data Guru & Tendik</h2>
    </div>
</div>
<div class="wrap" style="margin-left: 12%;">
    <!-- img -->
  <div class="box">
    <div class="box-top">
      <img class="box-image" src="img/profilBlank.jpeg" alt="Girl Eating Pizza">
      <div class="title-flex">
        <h3 class="box-title">Nama</h3>
      </div>
      <p>Nama: </p>
      <p>NIP: </p>
      <p>Jabatan: </p>
    </div>
  </div>
  <!--  -->
  <div class="box">
    <div class="box-top">
      <img class="box-image" src="img/profilBlank.jpeg" alt="Girl Eating Pizza">
      <div class="title-flex">
        <h3 class="box-title">Nama</h3>
      </div>
      <p>Nama: </p>
      <p>NIP: </p>
      <p>Jabatan: </p>
    </div>
  </div>
  <!--  -->
  <div class="box">
    <div class="box-top">
      <img class="box-image" src="img/profilBlank.jpeg" alt="Girl Eating Pizza">
      <div class="title-flex">
        <h3 class="box-title">Nama</h3>
      </div>
      <p>Nama: </p>
      <p>NIP: </p>
      <p>Jabatan: </p>
    </div>
  </div>
  <!--  -->
  <div class="box">
    <div class="box-top">
      <img class="box-image" src="img/profilBlank.jpeg" alt="Girl Eating Pizza">
      <div class="title-flex">
        <h3 class="box-title">Nama</h3>
      </div>
      <p>Nama: </p>
      <p>NIP: </p>
      <p>Jabatan: </p>
    </div>
  </div>
  
</div>