<div class="container mt-3" style="background-color: lightgray; padding: 20px;">
    
    <div class="container ms-2 mt-2">
        <h2>Seluruh Berita & Informasi</h2>

        <div>
        <table>
            <tr>
                <td>
                    <a href="#">
                        <div class="img-informasi">
                        </div>
                        <div class="isi-informasi">
                            <p>Informasi</p>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        <div class="img-informasi">
                        </div>
                        <div class="isi-informasi">
                            <p>Informasi</p>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        <div class="img-informasi">
                        </div>
                        <div class="isi-informasi">
                            <p>Informasi</p>
                        </div>
                    </a>
                </td>
            </tr>
           
        </table>
    </div>
    </div>
</div>
